.card {
    cursor: pointer;
    user-select: none;
}

.card h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.col-sm-4 {
    display: flex;
    align-items: center;
}

input {
    width: 100%;
}