@import '../node_modules/mini.css/dist/mini-dark.min.css';

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
    width: 90%;
}

@media only screen and (min-width: 1200px) {
    /* styles for browsers larger than 960px; */
    .container {
        width: 45%;
    }
}

.flex-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.center-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.right-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.no-margin {
    margin: 0;
}

.error {
    color: red;
    font-weight: bold;
}

div {
    overflow-wrap: anywhere;
}

button {
    overflow-wrap: break-word;
}